body {
  text-align: center;
}

.header {
  background-image: linear-gradient(
    to right,
    rgb(255, 196, 0),
    rgb(255, 149, 0)
  );
  color: white;
  border-bottom: 4px solid purple;
  min-height: 80px;
  height: auto;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.buttons {
  display: inline;
}

.cart {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
